Repository yungyuc/nsdhw_24au, pull requests merged in 2024-10, with the labels that each got.

#77 Add leo27945875 in hw2
  hw2/leo27945875/.gitignore
  hw2/leo27945875/q1/Makefile
  hw2/leo27945875/q1/line.cpp
  hw2/leo27945875/q1/line.hpp
  hw2/leo27945875/q1/main.cpp
  hw2/leo27945875/q2/Makefile
  hw2/leo27945875/q2/_vector.cpp
  hw2/leo27945875/q2/test_q2.py
Labels: hw2

#80 HW2 submitted by hsiehbingting
  hw2/hsiehbingting/q1/Makefile
  hw2/hsiehbingting/q1/line.cpp
  hw2/hsiehbingting/q1/line.hpp
  hw2/hsiehbingting/q1/main.cpp
  hw2/hsiehbingting/q2/Makefile
  hw2/hsiehbingting/q2/calc_angle.cpp
  hw2/hsiehbingting/q2/test_angle.py
Labels: hw2

#79 hw2 submitted by hfkfo
  hw2/hfkfo/q1/Makefile
  hw2/hfkfo/q1/line.cpp
  hw2/hfkfo/q1/line.hpp
  hw2/hfkfo/q1/main.cpp
  hw2/hfkfo/q2/Makefile
  hw2/hfkfo/q2/angle.cpp
  hw2/hfkfo/q2/test_angle.py
Labels: hw2

#83 HW2 submitted by ian31174117
  hw2/ian31174117/q1/Line.cpp
  hw2/ian31174117/q1/Line.hpp
  hw2/ian31174117/q1/Makefile
  hw2/ian31174117/q1/main.cpp
  hw2/ian31174117/q2/Makefile
  hw2/ian31174117/q2/main.cpp
  hw2/ian31174117/q2/test_cal_angle.py
Labels: hw2

#78 Sungod3-hw2-attempt1
  hw2/SUNGOD3/q1/Makefile
  hw2/SUNGOD3/q1/line.cpp
  hw2/SUNGOD3/q1/line.hpp
  hw2/SUNGOD3/q1/main.cpp
  hw2/SUNGOD3/q2/Makefile
  hw2/SUNGOD3/q2/main.cpp
  hw2/SUNGOD3/q2/test_calc_angle.py
Labels: hw2

#82 HW2 submitted by Sean20405 (Attempt 1)
  hw2/Sean20405/q1/Makefile
  hw2/Sean20405/q1/line.cpp
  hw2/Sean20405/q2/Makefile
  hw2/Sean20405/q2/_vector.cpp
  hw2/Sean20405/q2/test_angle.py
Labels: hw2

#85 Kang ding xin nycu hw2
  hw2/Kang-Ding-Xin-NYCU/q1/Line.cpp
  hw2/Kang-Ding-Xin-NYCU/q1/Line.hpp
  hw2/Kang-Ding-Xin-NYCU/q1/Makefile
  hw2/Kang-Ding-Xin-NYCU/q1/main.cpp
  hw2/Kang-Ding-Xin-NYCU/q2/Makefile
  hw2/Kang-Ding-Xin-NYCU/q2/_vector.cpp
  hw2/Kang-Ding-Xin-NYCU/q2/test_vector.py
Labels: hw2

#31 Submit oscarshiang's project proposal
  project/OscarShiang/README.rst
  project/README.rst
Labels: project

#84 Lien shark hw2 attempt1
  hw2/LienShark/q1/Makefile
  hw2/LienShark/q1/main.cpp
  hw2/LienShark/q2/Makefile
  hw2/LienShark/q2/angle.cpp
  hw2/LienShark/q2/test_angle.py
Labels: hw2

#26 ntut-xuan proposal for PolygonDust
  project/README.rst
  project/ntut-xuan/README.rst
Labels: project

#40 cfmc30 proposal for FDCT
  project/README.rst
  project/cfmc30/README.rst
Labels: project

#43 Sean20405 proposal for fftconvolve2d
  project/README.rst
  project/Sean20405/README.rst
Labels: project

#59 leo27945875 proposal for pyGMRES
  project/README.rst
  project/leo27945875/README.rst
Labels: project

#90 cfmc30-hw2-attempt1
  hw2/cfmc30/q1/Makefile
  hw2/cfmc30/q1/line.cpp
  hw2/cfmc30/q1/line.hpp
  hw2/cfmc30/q1/q1.cpp
  hw2/cfmc30/q2/CMakeLists.txt
  hw2/cfmc30/q2/Makefile
  hw2/cfmc30/q2/setup.py
  hw2/cfmc30/q2/src/_vector.cpp
  hw2/cfmc30/q2/test_vector_math.py
Labels: hw2

#50 Kang-Ding-Xin-NYCU proposal for PolygonAreaCalculator
  project/Kang-Ding-Xin-NYCU/README.rst
  project/README.rst
Labels: project

#91 jteng2127-hw2-attemp1
  hw2/jteng2127/q1/Makefile
  hw2/jteng2127/q1/line.cpp
  hw2/jteng2127/q1/line.hpp
  hw2/jteng2127/q1/main.cpp
  hw2/jteng2127/q2/Makefile
  hw2/jteng2127/q2/_vector.cpp
  hw2/jteng2127/q2/test_angle.py
Labels: hw2

#97 Complete Homework 2
  hw2/ntut-xuan/q1/Makefile
  hw2/ntut-xuan/q1/line.cpp
  hw2/ntut-xuan/q1/line.hpp
  hw2/ntut-xuan/q1/main.cpp
  hw2/ntut-xuan/q2/Makefile
  hw2/ntut-xuan/q2/test_vector.py
  hw2/ntut-xuan/q2/vector.cpp
  hw2/ntut-xuan/q2/vector.hpp
Labels: hw2

#48 Bichen07 proposal for Voronoi Diagram
  project/Bichen07/README.rst
  project/README.rst
Labels: project

#25 SUNGOD3 proposal for AdvancedVectorSearch
  project/README.rst
  project/SUNGOD3/README.rst
Labels: project

#94 LienShark proposal for EigenApproWithGersgorin (second PR)
  project/LienShark/Readme.rst
  project/README.rst
Labels: project

#100 <nsdhw_24au> feat: hw3
  hw3/chris901003/Makefile
  hw3/chris901003/_matrix.cpp
  hw3/chris901003/_matrix.hpp
  hw3/chris901003/performance.py
  hw3/chris901003/performance.txt
  hw3/chris901003/test_matrix.py
  hw3/chris901003/utility.cpp
Labels: hw3

#101 hw3 submitted by hfkfo
  hw3/hfkfo/Makefile
  hw3/hfkfo/_matrix.cpp
  hw3/hfkfo/performance.py
  hw3/hfkfo/performance.txt
  hw3/hfkfo/test_matrix.py
Labels: hw3

#102 HW3 submitted by lebr0nli
  hw3/lebr0nli/.clang-format
  hw3/lebr0nli/Makefile
  hw3/lebr0nli/_matrix.cpp
  hw3/lebr0nli/_matrix.h
  hw3/lebr0nli/benchmark.py
  hw3/lebr0nli/build.py
  hw3/lebr0nli/module.cpp
  hw3/lebr0nli/performance.txt
  hw3/lebr0nli/pyprpoject.toml
  hw3/lebr0nli/test_matrix.py
Labels: hw3

#103 Sungod3-hw3-attempt1
  hw3/SUNGOD3/Makefile
  hw3/SUNGOD3/benchmark.py
  hw3/SUNGOD3/matrix.cpp
  hw3/SUNGOD3/matrix.hpp
  hw3/SUNGOD3/performance.txt
  hw3/SUNGOD3/test_matrix.py
Labels: hw3

#106 HW3 submitted by hsiehbingting
  hw3/hsiehbingting/Makefile
  hw3/hsiehbingting/_matrix.cpp
  hw3/hsiehbingting/performance.py
  hw3/hsiehbingting/performance.txt
  hw3/hsiehbingting/test_matrix.py
Labels: hw3

#105 HW3 submitted by ian31174117
  hw3/ian31174117/Makefile
  hw3/ian31174117/matrix.cpp
  hw3/ian31174117/matrix.hpp
  hw3/ian31174117/performance.py
  hw3/ian31174117/performance.txt
  hw3/ian31174117/test_matrix.py
Labels: hw3

#107 HW3 submitted by Bichen07 attempt1
  hw3/Bichen07/Makefile
  hw3/Bichen07/_matrix.cpp
  hw3/Bichen07/_matrix.hpp
  hw3/Bichen07/performance.py
  hw3/Bichen07/performance.txt
  hw3/Bichen07/test_matrix.py
Labels: hw3

#109 HW3 Submitted by oscarshiang
  hw3/OscarShiang/.gitignore
  hw3/OscarShiang/Makefile
  hw3/OscarShiang/benchmark.py
  hw3/OscarShiang/matrix.cpp
  hw3/OscarShiang/performance.txt
  hw3/OscarShiang/test_matrix.py
Labels: hw3

#108 first try for hw3
  hw3/LienShark/Makefile
  hw3/LienShark/_matrix.cpp
  hw3/LienShark/performance.txt
  hw3/LienShark/test_file.py
Labels: hw3

#110 cfmc30-hw3-attempt1
  hw3/cfmc30/Makefile
  hw3/cfmc30/_matrix.cpp
  hw3/cfmc30/benchmark.py
  hw3/cfmc30/performance.txt
  hw3/cfmc30/test_matrix_math.py
Labels: hw3

#112 Complete homework 3
  hw3/ntut-xuan/Makefile
  hw3/ntut-xuan/benchmark.py
  hw3/ntut-xuan/matrix.cpp
  hw3/ntut-xuan/matrix.hpp
  hw3/ntut-xuan/performance.txt
  hw3/ntut-xuan/test_matrix.py
Labels: hw3

#114 HW3 submitted by Sean20405 (Attempt 1)
  hw3/Sean20405/Makefile
  hw3/Sean20405/matrix.cpp
  hw3/Sean20405/matrix.hpp
  hw3/Sean20405/performance.txt
  hw3/Sean20405/test_matrix.py
Labels: hw3

#113 yang2829 hw3 first attempt
  hw3/yang2829/Makefile
  hw3/yang2829/_matrix.cpp
  hw3/yang2829/performance.py
  hw3/yang2829/performance.txt
  hw3/yang2829/test_matrix.py
Labels: hw3

#116 Kang-Ding-Xin-NYCU hw3
  hw3/Kang-Ding-Xin-NYCU/Makefile
  hw3/Kang-Ding-Xin-NYCU/_matrix.cpp
  hw3/Kang-Ding-Xin-NYCU/performance.py
  hw3/Kang-Ding-Xin-NYCU/performance.txt
  hw3/Kang-Ding-Xin-NYCU/test_matrix.py
Labels: hw3
