Repository yungyuc/nsdhw_24au, pull requests merged in 2024-09, with the labels that each got.

#2 First attempt
  hw0/Kang-Ding-Xin-NYCU/countline.py
Labels: hw0

#9 hw0
  hw0/SUNGOD3/countline.py
Labels: hw0

#12 hw1 submitted by ExplorerRay (2nd attempt)
  hw1/ExplorerRay/countline.py
  hw1/ExplorerRay/countline.sh
Labels: hw1

#19 HW1 submitted by lebr0nli
  hw1/lebr0nli/countline.py
  hw1/lebr0nli/countline.sh
Labels: hw1

#14 HW1 submitted by ian31174117
  hw1/ian31174117/countline.py
  hw1/ian31174117/countline.sh
Labels: hw1

#24 <nsdhw_24au> feat: hw2 countline shell
  hw1/chris901003/countline.py
  hw1/chris901003/countline.sh
Labels: hw1

#27 Fix: Check score is full mark or exit code should be non-zero
  hw1/validate.sh
Labels: enhancement

#32 HW1 submitted by oscarshiang
  hw1/OscarShiang/countline.py
  hw1/OscarShiang/countline.sh
Labels: hw1

#37 HW0 submitted by hsiehbingting (attempt2)
  hw0/hsiehbingting/countline.py
Labels: hw0

#36 HW1 submitted by Bichen07(Attempt4)
  hw1/Bichen07/countline.py
  hw1/Bichen07/countline.sh
Labels: hw1

#42 Create leo27945875 folder in hw0
  hw0/leo27945875/countline.py
Labels: hw0

#29 ExplorerRay proposal for onnxinfo
  project/ExplorerRay/README.md
  project/README.rst
Labels: project

#30 jteng2127-proposal-submission
  project/README.rst
  project/jteng2127/README.rst
Labels: project

#38 Chris901003 proposal for PoissonNet
  project/README.rst
  project/chris901003/README.rst
Labels: project

#57 HW1 submitted by Sean20405 (Attempt 1)
  hw1/Sean20405/countline.py
  hw1/Sean20405/countline.sh
Labels: hw1

#56 complete the hw1
  hw1/LienShark/countline.py
  hw1/LienShark/countline.sh
Labels: hw1

#60 cfmc30-hw1-attempt2
  hw1/cfmc30/countline.py
  hw1/cfmc30/countline.sh
Labels: hw1

#54 Yang2829 proposal for Voronoi Diagram
  project/README.rst
  project/yang2829/README.rst
Labels: project

#62 HW1 submitted by hfkfo
  hw1/hfkfo/countline.py
  hw1/hfkfo/countline.sh
Labels: hw1

#63 Kang-ding-xin-nycu-hw1
  hw1/Kang-Ding-Xin-NYCU/countline.py
  hw1/Kang-Ding-Xin-NYCU/countline.sh
Labels: hw1

#61 HW1 submitted by hsiehbingting
  hw1/hsiehbingting/countline.py
  hw1/hsiehbingting/countline.sh
Labels: hw1

#45 ian31174117 proposal for SimpleEigenSolver
  project/README.rst
  project/ian31174117/README.rst
Labels: project

#64 Add leo27945875 hw1
  hw1/leo27945875/countline.py
  hw1/leo27945875/countline.sh
Labels: hw1

#49 hsiehbingting proposal for VisualizeWifi
  project/README.rst
  project/hsiehbingting/README.rst
Labels: project

#46 hfkfo proposal for Boolean Operations on Polygons
  project/README.rst
  project/hfkfo/README.rst
Labels: project

#66 Sungod3-hw1-attempt3
  hw1/SUNGOD3/countline.py
  hw1/SUNGOD3/countline.sh
Labels: hw1

#67 hw1 submitted by yang2829
  hw1/yang2829/countline.py
  hw1/yang2829/countline.sh
Labels: hw1

#69 jteng2127-hw1-attempt1
  hw1/jteng2127/countline.py
  hw1/jteng2127/countline.sh
Labels: hw1

#68 Chris901003 hw2 attempt1
  hw2/chris901003/q1/Makefile
  hw2/chris901003/q1/line.cpp
  hw2/chris901003/q1/line.hpp
  hw2/chris901003/q1/main.cpp
  hw2/chris901003/q2/Makefile
  hw2/chris901003/q2/_vector.cpp
  hw2/chris901003/q2/test_angle.py
Labels: hw2

#74 finish hw1
  hw1/KentLee0820/countline.py
  hw1/KentLee0820/countline.sh
Labels: hw1

#75 HW2 submitted by oscarshiang
  hw2/OscarShiang/q1/.gitignore
  hw2/OscarShiang/q1/Makefile
  hw2/OscarShiang/q1/include/line.h
  hw2/OscarShiang/q1/include/point.h
  hw2/OscarShiang/q1/src/line.cpp
  hw2/OscarShiang/q1/src/main.cpp
  hw2/OscarShiang/q1/src/point.cpp
  hw2/OscarShiang/q2/.gitignore
  hw2/OscarShiang/q2/Makefile
  hw2/OscarShiang/q2/include/vec.h
  hw2/OscarShiang/q2/src/vec.cpp
  hw2/OscarShiang/q2/tests/test_angle.py
Labels: hw2

#44 lebr0nli proposal for py-rbush
  project/README.rst
  project/lebr0nli/README.rst
Labels: project
